/**
 * Design System Tokens
 * Unused. See design_tokens_library_info_alter().
 * Define the tokens in design/design.tokens.json instead for now.
 */
:root {
  --colors--red--0: #d93760;
  --colors--green--0: #37d978;
  --colors--green--1: #055124;
  --colors--blue--0: #374dd9;
  --colors--blue--1: #061037;
  --button-bg-color--primary: var(--colors--green--0);
  --color--action--surface--primary: var(--button-bg-color--primary);
  --color--action--border--primary: var(--colors--green--1);
}
