:modal {
  padding: 2rem;
  border-radius: 0.25rem;
  border-width: 0;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

#hidden {
  font: 500 18px Inter;
  opacity: 0;
}

#myDiagramDiv {
  width: 100%;
  height: 1000px;
}
